{% extends 'myapp/base.html' %}
{% block content %}

<h1>Idea List</h1>
<h4>나의 아이디어를 잊지 말고 기록해보세요</h4>

<ul>
    {% for idea in ideas %}
        <li><img src="{{idea.image.url}}" width="80"></li>
        <li>
            <a href="{% url "myapp:idea_detail" idea.id %}">
            {{ idea.title }}
            </a>            
        </li>
        <br/>

        <li>예상 개발 툴 : {{idea.devtool}}</li>
        <li>아이디어 관심도 : {{idea.interest}}</li>
        <br/>
        <br/>
    {% endfor %}
</ul>

{% endblock %}